<!-- *ngIf="!isNovo" -->
<h1 mat-dialog-title>
  <span>
    <span *ngIf="!isNovo">Editar</span>
    <span *ngIf="isNovo">Cadastrar</span>
    Pessoa
  </span>
</h1>
<div mat-dialog-content>
    
  <mat-form-field *ngIf="!isNovo">
    <mat-label>Id</mat-label>
    <input disabled matInput [(ngModel)]="pessoa.id">
  </mat-form-field>

  <!-- <mat-form-field>
    <mat-label>Título</mat-label>
    <input matInput [(ngModel)]="pessoa.titulo">
  </mat-form-field> -->
  
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="pessoa.nome">
  </mat-form-field>

  <mat-form-field>
    <mat-label>CPF</mat-label>
    <input matInput [dropSpecialCharacters]="false" mask="000.000.000-00" [formControl]="cpfFormControl" [errorStateMatcher]="matcher" [(ngModel)]="pessoa.cpf">
    <mat-error *ngIf="cpfFormControl.hasError('cpfNotValid')">
      O CPF é <strong>inválido</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>RG</mat-label>
    <input matInput [dropSpecialCharacters]="false" mask="00.000.000-0" [formControl]="rgFormControl" [errorStateMatcher]="matcher" [(ngModel)]="pessoa.rg">
    <mat-error *ngIf="rgFormControl.hasError('required')">
      O RG precisa ser <strong>informado</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Estado</mat-label>
    <mat-select [(ngModel)]="pessoa.estado">
      <mat-option *ngFor="let estado of estadosValores" [value]="estadosValores[estado]">
        {{estadosSiglas[estado]}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Cidade</mat-label>
    <input matInput [(ngModel)]="pessoa.cidade">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Telefone</mat-label>
    <input matInput mask="(00)00000-0000" [(ngModel)]="pessoa.telefone">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [(ngModel)]="pessoa.dt_nasc" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="pessoa" cdkFocusInitial>Ok</button>
</div>