@import '~@angular/material/theming';
@include mat-core();

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px;
}

.full-width-table {
  width: 100%;
}

.hovered {
  background: #dddddd;
}

.highlighted {
  background: #dddddd;
}